body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 70px;
}

h3{
    font-size: 40px;
}

#startMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startGame .button_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#counter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#startGame {
    /* Variables */
    width: 50vw;
    height: 10vh;
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.6em);
    transition: transform 0.1s ease;
    height: 10vh;
    width: 50vw;
}

#startGame:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

#startGame:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}


.testButton {
    width: 40vw;
    height: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
}

.bell {
    width: 20vw;
}

.bell path {
    fill: white;
}

.testButton:hover {
    background-color: rgb(56, 56, 56);
}

/* bell ringing animation keyframes*/
@keyframes bellRing {

    0%,
    100% {
        transform-origin: top;
    }

    15% {
        transform: rotateZ(10deg);
    }

    30% {
        transform: rotateZ(-10deg);
    }

    45% {
        transform: rotateZ(5deg);
    }

    60% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

.testButton:active .bell {
    animation: bellRing 0.9s both;
}

/* .testButton:active{
    transform: scale(0.8) 0.3s;
} */